/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: homeftr;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #E9ECF2;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #E9ECF2;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #E9ECF2;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #E9ECF2;
	max-id: 15;
	mc-hide-bottom-ruling: true;
	cell-padding-left: 3px;
	cell-padding-right: 3px;
	cell-padding-top: 3px;
	cell-padding-bottom: 3px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #222b3c;
}

mcTableColumnStyle
{
	span: 5;
	name: Column1;
	id: 0;
	size: 21%;
}

mcTableColumnStyle
{
	span: 4;
	name: Column3;
	id: 11;
	size: 42px;
}

mcTableBodyStyle
{
	span: 1;
	name: Body1;
	id: 1;
	font-size: 11pt;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	font-weight: bold;
}

mcTableBodyStyle
{
	span: 5;
	id: 15;
	name: Body2;
	font-size: 11pt;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	color: #B7C0CC;
}


/* Cell Styles: */
 
.TableStyle-homeftr
{
	border-collapse: collapse;
	mc-hide-bottom-ruling: true;
	background-color: #222b3c;
	border-left-style: solid;
	border-left-color: #E9ECF2;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #E9ECF2;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #E9ECF2;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #E9ECF2;
	border-bottom-width: 0px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-spacing: 0px 0px;
}

.TableStyle-homeftr-Column-Column1
{
	width: 21%;
}

.TableStyle-homeftr-Column-Column3
{
	width: 42px;
}

.TableStyle-homeftr-HeadI-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-HeadI-Column1- p
{
	
}

.TableStyle-homeftr-HeadE-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-HeadE-Column1- p
{
	
}

.TableStyle-homeftr-HeadF-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-HeadF-Column1- p
{
	
}

.TableStyle-homeftr-HeadH-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-HeadH-Column1- p
{
	
}

.TableStyle-homeftr-HeadD-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-HeadD-Column1- p
{
	
}

.TableStyle-homeftr-HeadC-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-HeadC-Column1- p
{
	
}

.TableStyle-homeftr-HeadB-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-HeadB-Column1- p
{
	
}

.TableStyle-homeftr-HeadA-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-HeadA-Column1- p
{
	
}

.TableStyle-homeftr-HeadG-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-HeadG-Column1- p
{
	
}

.TableStyle-homeftr-HeadI-Column3-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-HeadI-Column3- p
{
	
}

.TableStyle-homeftr-HeadE-Column3-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-HeadE-Column3- p
{
	
}

.TableStyle-homeftr-HeadF-Column3-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-HeadF-Column3- p
{
	
}

.TableStyle-homeftr-HeadH-Column3-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-HeadH-Column3- p
{
	
}

.TableStyle-homeftr-HeadD-Column3-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-HeadD-Column3- p
{
	
}

.TableStyle-homeftr-HeadC-Column3-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-HeadC-Column3- p
{
	
}

.TableStyle-homeftr-HeadB-Column3-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-HeadB-Column3- p
{
	
}

.TableStyle-homeftr-HeadA-Column3-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-HeadA-Column3- p
{
	
}

.TableStyle-homeftr-HeadG-Column3-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-HeadG-Column3- p
{
	
}

.TableStyle-homeftr-FootI-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-FootI-Column1- p
{
	
}

.TableStyle-homeftr-FootE-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-FootE-Column1- p
{
	
}

.TableStyle-homeftr-FootF-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-FootF-Column1- p
{
	
}

.TableStyle-homeftr-FootH-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-FootH-Column1- p
{
	
}

.TableStyle-homeftr-FootD-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-FootD-Column1- p
{
	
}

.TableStyle-homeftr-FootC-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-FootC-Column1- p
{
	
}

.TableStyle-homeftr-FootB-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-FootB-Column1- p
{
	
}

.TableStyle-homeftr-FootA-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-FootA-Column1- p
{
	
}

.TableStyle-homeftr-FootG-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-FootG-Column1- p
{
	
}

.TableStyle-homeftr-FootI-Column3-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-FootI-Column3- p
{
	
}

.TableStyle-homeftr-FootE-Column3-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-FootE-Column3- p
{
	
}

.TableStyle-homeftr-FootF-Column3-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-FootF-Column3- p
{
	
}

.TableStyle-homeftr-FootH-Column3-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-FootH-Column3- p
{
	
}

.TableStyle-homeftr-FootD-Column3-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-FootD-Column3- p
{
	
}

.TableStyle-homeftr-FootC-Column3-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-FootC-Column3- p
{
	
}

.TableStyle-homeftr-FootB-Column3-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-FootB-Column3- p
{
	
}

.TableStyle-homeftr-FootA-Column3-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-FootA-Column3- p
{
	
}

.TableStyle-homeftr-FootG-Column3-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-homeftr-FootG-Column3- p
{
	
}

.TableStyle-homeftr-Body-Body1
{
	
}

.TableStyle-homeftr-BodyI-Column1-Body1
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyI-Column1-Body1 p
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-homeftr-BodyE-Column1-Body1
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyE-Column1-Body1 p
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-homeftr-BodyF-Column1-Body1
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyF-Column1-Body1 p
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-homeftr-BodyH-Column1-Body1
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyH-Column1-Body1 p
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-homeftr-BodyD-Column1-Body1
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyD-Column1-Body1 p
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-homeftr-BodyC-Column1-Body1
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyC-Column1-Body1 p
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-homeftr-BodyB-Column1-Body1
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyB-Column1-Body1 p
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-homeftr-BodyA-Column1-Body1
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyA-Column1-Body1 p
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-homeftr-BodyG-Column1-Body1
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyG-Column1-Body1 p
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-homeftr-BodyI-Column3-Body1
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyI-Column3-Body1 p
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-homeftr-BodyE-Column3-Body1
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyE-Column3-Body1 p
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-homeftr-BodyF-Column3-Body1
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyF-Column3-Body1 p
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-homeftr-BodyH-Column3-Body1
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyH-Column3-Body1 p
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-homeftr-BodyD-Column3-Body1
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyD-Column3-Body1 p
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-homeftr-BodyC-Column3-Body1
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyC-Column3-Body1 p
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-homeftr-BodyB-Column3-Body1
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyB-Column3-Body1 p
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-homeftr-BodyA-Column3-Body1
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyA-Column3-Body1 p
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-homeftr-BodyG-Column3-Body1
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyG-Column3-Body1 p
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-homeftr-Body-Body2
{
	
}

.TableStyle-homeftr-BodyI-Column1-Body2
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyI-Column1-Body2 p
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
}

.TableStyle-homeftr-BodyE-Column1-Body2
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyE-Column1-Body2 p
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
}

.TableStyle-homeftr-BodyF-Column1-Body2
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyF-Column1-Body2 p
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
}

.TableStyle-homeftr-BodyH-Column1-Body2
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyH-Column1-Body2 p
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
}

.TableStyle-homeftr-BodyD-Column1-Body2
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyD-Column1-Body2 p
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
}

.TableStyle-homeftr-BodyC-Column1-Body2
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyC-Column1-Body2 p
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
}

.TableStyle-homeftr-BodyB-Column1-Body2
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyB-Column1-Body2 p
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
}

.TableStyle-homeftr-BodyA-Column1-Body2
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyA-Column1-Body2 p
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
}

.TableStyle-homeftr-BodyG-Column1-Body2
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyG-Column1-Body2 p
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
}

.TableStyle-homeftr-BodyI-Column3-Body2
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyI-Column3-Body2 p
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
}

.TableStyle-homeftr-BodyE-Column3-Body2
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyE-Column3-Body2 p
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
}

.TableStyle-homeftr-BodyF-Column3-Body2
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyF-Column3-Body2 p
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
}

.TableStyle-homeftr-BodyH-Column3-Body2
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyH-Column3-Body2 p
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
}

.TableStyle-homeftr-BodyD-Column3-Body2
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyD-Column3-Body2 p
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
}

.TableStyle-homeftr-BodyC-Column3-Body2
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyC-Column3-Body2 p
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
}

.TableStyle-homeftr-BodyB-Column3-Body2
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyB-Column3-Body2 p
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
}

.TableStyle-homeftr-BodyA-Column3-Body2
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyA-Column3-Body2 p
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
}

.TableStyle-homeftr-BodyG-Column3-Body2
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-homeftr-BodyG-Column3-Body2 p
{
	color: #B7C0CC;
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
}


