<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="8" MadCap:lastHeight="434" MadCap:lastWidth="1439" class="Topic">
    <head><title>CX Strategic Analysis</title>
        <link href="../Resources/Stylesheets/CX_Styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>CX Strategic Analysis</h1>
        <h2>Key Points</h2>
        <ul>
            <li>Lead Time: Two weeks scoping, two weeks to prepare</li>
            <li>Delivery: Teleconference/Webex (one hour)</li>
            <li>Optional: Travel expenses passed through to client</li>
        </ul>
        <h2>Description</h2>
        <p>&#160;</p>
        <h2>Target Audience</h2>
        <ul>
            <li>CxO</li>
            <li>Economic Buyer</li>
            <li>Other Business or Function Leaders</li>
        </ul>
    </body>
</html>