<!DOCTYPE html>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" lang="en-us" xml:lang="en-us" class="Topic" data-mc-search-type="Stem" data-mc-help-system-file-name="Default.xml" data-mc-path-to-help-system="../../" data-mc-target-type="WebHelp2" data-mc-runtime-file-type="Topic;Default" data-mc-preload-images="false" data-mc-in-preview-mode="false" data-mc-toc-path="">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="description" content="" />
        <meta name="author" content="" /><title>Getting Started</title>
        <link rel="shortcut icon" href="https://voc.foresee.com/assets/img/favicon.ico" />
        <link href="../../Skins/Default/Stylesheets/Slideshow.css" rel="stylesheet" data-mc-generated="True" />
        <link href="../../Skins/Default/Stylesheets/TextEffects.css" rel="stylesheet" data-mc-generated="True" />
        <link href="../../Skins/Default/Stylesheets/Topic.css" rel="stylesheet" data-mc-generated="True" />
        <link href="../../Skins/Default/Stylesheets/Components/Styles.css" rel="stylesheet" data-mc-generated="True" />
        <link href="../../Skins/Default/Stylesheets/Components/Tablet.css" rel="stylesheet" data-mc-generated="True" />
        <link href="../../Skins/Default/Stylesheets/Components/Mobile.css" rel="stylesheet" data-mc-generated="True" />
        <link href="../Resources/foundation/css/foundation.css" rel="stylesheet" />
        <link href="../Resources/Stylesheets/TopicStyles.css" rel="stylesheet" />
        <link href="../Resources/Stylesheets/CX_Styles.css" rel="stylesheet" />
        <script src="../../Resources/Scripts/custom.modernizr.js">
        </script>
        <script src="../../Resources/Scripts/jquery.min.js">
        </script>
        <script src="../../Resources/Scripts/require.min.js">
        </script>
        <script src="../../Resources/Scripts/require.config.js">
        </script>
        <script src="../../Resources/Scripts/foundation.min.js">
        </script>
        <script src="../../Resources/Scripts/plugins.min.js">
        </script>
        <script src="../../Resources/Scripts/MadCapAll.js">
        </script>
    </head>
    <body class="home">
        <div class="topicHdBg">
            <section class="toolbar"><a href="home.htm" title="Click to view the Home page." alt="Click to view the Home page." class="logo"><img src="../Resources/Images/CX_HelpLogo.png" class="bluelogo" title="Click to view the Home page." alt="ForeSee logo" /></a>
                <form class="search" action="#">
                    <div class="search-bar search-bar-container needs-pie _Skins_ToolbarSearch mc-component">
                        <input class="search-field needs-pie" type="search" placeholder="Search" />
                        <div class="search-filter-wrapper">
                            <div class="search-filter">
                                <div class="search-filter-content">
                                    <ul>
                                        <li>All Files</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="search-submit-wrapper" dir="ltr">
                            <div class="search-submit" title="Click to search by key word.">
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <div class="off-canvas-wrapper">
            <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper="">
                <div class="title-bar hide-for-medium">
                    <div class="title-bar-left">
                        <button class="menu-icon" type="button" data-open="offCanvasLeft">
                        </button><span class="title-bar-title">Menu</span>
                    </div>
                </div>
                <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas="">
                    <div id="nav-drilldown">
                    </div>
                </div>
                <div class="off-canvas-content" data-off-canvas-content="">
                    <section id="page-content">
                        <div class="breadcrumb">
                            <div style="max-width: 55rem; margin: auto;">
                                <div class="MCBreadcrumbsBox_0"><span class="MCBreadcrumbsPrefix">  <![CDATA[ ]]></span><span class="MCBreadcrumbs">Getting Started</span>
                                </div>
                            </div>
                        </div>
                        <!--menu-->
                        <div class="row">
                            <div class="show-for-medium medium-4 large-3 columns" id="nav-accordion"> <ul class="menu _Skins_Menu mc-component"><li><a href="home.htm">Home</a></li><li><a href="#" class="selected">Getting Started</a></li><li class="has-children"><a href="whatsNew.htm">What's New</a><ul class="sub-menu"><li><a href="releaseNotes.htm">Release Notes</a></li><li><a href="ReleaseCalendar.htm">System &amp; Release Maintenance</a></li></ul></li></ul></div>
                            <!--end menu-->
                            <div class="small-12 medium-8 large-9 columns" id="topic-content">
                                <h1>Getting Started</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel porta tellus. Sed auctor neque eget scelerisque aliquam. Donec convallis velit ac tortor aliquet aliquet. Duis malesuada sit amet lectus nec varius. Aenean tincidunt vehicula venenatis. Donec ut dui purus. Fusce ut velit tortor. </p>
                                <h2>Maecenas tristique tellus nec scelerisque sollicitudin</h2>
                                <p>Etiam porta nisl quis nisi facilisis, at rhoncus urna elementum. Cras sit amet semper risus, iaculis sodales metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                                <p>Proin eget erat mattis purus porttitor varius sit amet in nunc.</p>
                                <ul>
                                    <li value="1">Curabitur ultrices imperdiet erat et bibendum. </li>
                                    <li value="2">Proin ex justo, faucibus et sagittis eget, auctor vel est. </li>
                                    <li value="3">Aenean turpis nibh, aliquet non scelerisque blandit, dapibus ut erat. </li>
                                    <li value="4">Etiam sollicitudin mauris id mauris eleifend maximus. </li>
                                    <li value="5">Proin dapibus tortor quis justo eleifend suscipit. </li>
                                </ul>
                                <h3>Pellentesque ac porttitor nisi</h3>
                                <p> Sed mollis elementum velit in cursus. Morbi dignissim felis quis lacus semper ornare. In hac habitasse platea dictumst. Vivamus imperdiet volutpat nisl et elementum. Etiam pharetra scelerisque ex eget dapibus.</p>
                                <p>In facilisis, metus id faucibus sagittis, neque leo convallis justo, vitae finibus dui nunc pulvinar nibh. Maecenas dictum, ipsum vel pulvinar pharetra, lacus dolor fringilla dui, at imperdiet velit enim nec dui. Sed vehicula metus ac odio viverra faucibus. Praesent fringilla hendrerit nulla, sed sodales mi congue vel. </p>
                                <h2>Maecenas eget rutrum arcu</h2>
                                <p>Donec lobortis, nunc sit amet elementum consectetur, ante lectus commodo lorem, sed tristique elit eros vitae eros. Sed risus ex, lacinia et elementum non, mollis id diam. Proin in tempor odio. Donec molestie luctus leo, ut semper est efficitur ac. Vivamus sit amet venenatis neque. Cras commodo fringilla ex, nec maximus erat euismod et. Nullam elementum justo sit amet gravida semper. Sed rutrum elementum nibh sed consectetur. Nulla facilisi.</p>
                                <h3>Fusce ac justo in lorem egestas hendrerit</h3>
                                <p> Nunc molestie diam suscipit quam convallis consequat quis quis ipsum. Donec tempor dui et magna maximus sodales. Cras et pellentesque velit. </p>
                                <ol>
                                    <li value="1">Pellentesque posuere aliquet lorem, at condimentum nisi aliquet sit amet. Duis a pharetra massa. Nunc interdum mauris ac consequat elementum. </li>
                                    <li value="2">Etiam posuere, nisl id malesuada gravida, tortor ex vestibulum nisl, at scelerisque tortor enim ut lacus. Morbi sit amet magna a quam ullamcorper interdum a varius nisi. </li>
                                    <li value="3">Maecenas sed imperdiet purus, eget interdum risus. Etiam est nulla, euismod sed dapibus cursus, faucibus a libero.</li>
                                </ol>
                                <h3>Ut massa ipsum, porttitor in leo id, porta laoreet ante</h3>
                                <p>Sed maximus dapibus arcu, quis iaculis nulla malesuada sed. Nullam a leo diam. In finibus urna orci, vitae rhoncus turpis maximus sit amet. </p>
                                <ol>
                                    <li value="1">Donec nisl ipsum, congue vitae felis eu, elementum porttitor libero. </li>
                                    <li value="2">Phasellus eu ex quis enim facilisis faucibus. Sed rutrum nunc ipsum, nec iaculis justo laoreet ut. Sed tempor lectus sit amet iaculis molestie. </li>
                                    <li value="3">Nunc vulputate, metus finibus mattis faucibus, risus massa tincidunt eros, at feugiat leo libero vitae augue. Sed nibh urna, aliquet eget molestie et, faucibus vitae magna. </li>
                                    <li value="4">Suspendisse quis nunc laoreet, pellentesque libero ac, finibus mi. </li>
                                </ol>
                                <p>Sed facilisis mi quis nunc porta convallis. Vestibulum venenatis tempor interdum. Proin condimentum, metus vitae suscipit hendrerit, est purus tincidunt quam, lacinia semper ipsum mi eu purus.</p>
                                <p>John Doe</p>
                                <div class="contact">Can't find what you're looking for?  <button type="button" class="contact" onclick="window.open('http://www.foresee.com/about-us/contact-us/')">Contact Us</button></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="homeftrBand">
            <ul class="inline">
                <li>© 2016 ForeSee, all rights reserved</li>
                <li><a title="Privacy Policy" href="http://www.foresee.com/about-us/privacy-policy/" class="home2">Privacy Policy</a>
                </li>
                <li><a title="Contact Us" href="http://www.foresee.com/about-us/contact-us/" class="home2">Contact Us</a>
                </li>
                <li><a title="Site Map" href="http://www.foresee.com/about-us/site-map/" class="home2">Site Map</a>
                </li>
                <li><a title="Login" href="http://portal2.foreseeresults.com" target="_blank" class="home2">Client Login</a>
                </li>
                <!--<li><a href="http://privacy.truste.com/privacy-seal/ForeSee-Results/validation?rid=fc7be566-92aa-4667-be44-67d8412088c1" target="_blank" title="TRUSTe European Safe Harbor certification" alt="TRUSTe European Safe Harbor certification" class="home2"><img style="vertical-align: middle; padding-top: 5px;" src="../Images/trusteLogo90x30.png" title="Click to view this web page." alt="trust e certified privacy logo" /></a>
                </li>-->
            </ul>
        </div>
        <script type="text/javascript" src="../Resources/foundation/js/vendor/what-input.js">
        </script>
        <script type="text/javascript" src="../Resources/foundation/js/vendor/foundation.js">
        </script>
        <script type="text/javascript" src="../Resources/Scripts/foundation-menu-off-canvas-initialisation.js">
        </script>
    </body>
</html>