<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="5" MadCap:lastHeight="154" MadCap:lastWidth="839">
    <head>
        <link href="../Resources/TableStyles/home.css" rel="stylesheet" MadCap:stylesheetType="table" /><title>Home</title>
        <link href="../Resources/Stylesheets/CX_Styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Home</h1>
        <div class="tile_section">
	<a href="whatsNew.htm">
		<div class="home_tile">
			<img src="../Resources/Images/megaphone-icon.svg" class="whats_new" title="Click to view this Help &amp; Training Guide topic." alt="What's New Tile" />
			<div class="tile_name">What's New</div>
		</div>
	</a><a href="gettingStarted.htm">
		<div class="home_tile ">
			<img src="../Resources/Images/getting-started-icon.svg" class="getting_started" title="Click to view this Help &amp; Training Guide topic." alt="Getting Started" />
			<div class="tile_name">Getting Started with CX</div>
		</div>
	</a><a href="cx_measurement.htm">
		<div class="home_tile">
			<img src="../Resources/Images/cx-measurement-icon.svg" class="cx_measurement" title="Click to view this Help &amp; Training Guide topic." alt="CX Measurement tile" />
			<div class="tile_name">CX Measurement</div>
		</div>
	</a><a href="text_analytics.htm">
		<div class="home_tile">
			<img src="../Resources/Images/text-analytics-icon.svg" class="text_analytics" title="Click to view this Help &amp; Training Guide topic." alt="Text Analytics Tile" />
			<div class="tile_name">Text Analytics</div>
		</div>
	</a><a href="replay.htm">
		<div class="home_tile">
			<img src="../Resources/Images/replay-icon.svg" class="replay" title="Click to view this Help &amp; Training Guide topic." alt="Replay Tile" />
			<div class="tile_name">Replay</div>
		</div>
	</a><a href="case.htm">
		<div class="home_tile">
			<img src="../Resources/Images/case-icon.svg" class="case_mgt" title="Click to view this Help &amp; Training Guide topic." alt="Case Management tile" />
			<div class="tile_name">Case Management</div>
		</div>
	</a>
</div>
    </body>
</html>