<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="8" MadCap:lastHeight="1330" MadCap:lastWidth="800" class="Topic">
    <head><title>System &amp; Release Maintenance</title>
        <link href="../Resources/Stylesheets/CX_Styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>System &amp; Release Maintenance</h1>
        <p>These are the ForeSee guidelines for rolling out updates. Please be aware that situations arise from time to time which require us change or detour from these guidelines in order to provide the best service to our clients.</p>
        <p>If you are interested in viewing recent updates, please see the <a href="releaseNotes.htm#Release" title="[%=Tooltips.Tooltip Topic%][%=Tooltips.Tooltip Section%]" alt="[%=Tooltips.Tooltip Topic%][%=Tooltips.Tooltip Section%]">Release Notes</a> section below.</p>
        <h2>System Maintenance</h2>
        <p>System Maintenance pertains to the overall Information Technology of the company and not necessarily any one product or application.</p>
        <h3>Major Maintenance</h3>
        <p>The purpose of Major System Maintenance is to update the company's technical infrastructure. These updates are performed in order to implement the latest security measures, optimal performance and reliability, and to support the growth of the ForeSee staff.</p>
        <p>Major System Maintenance takes place on the second Saturday of each quarter. This avoids disruptions of the system during the regular work week, along with the end-of-month report preparation, which is standard in our industry. This schedule also complements the Product Release Schedule when Quality Assurance testing and subsequent fixes require a stable environment.</p>
        <p>While we make every effort to avoid them, issues do arise requiring an urgent need to implement updates. The <a href="#Emergenc" title="[%=Variables.Tooltip Section%]" alt="[%=Variables.Tooltip Section%]">Emergency Release</a> process, which is described below, has been developed for these occurrences.</p>
        <h3>Minor Maintenance</h3>
        <p>Minor System Maintenance consists of updates that can be implemented without downtime and take place as needed. The process for Minor System Maintenance is described in the <a href="https://docs.google.com/document/d/1OfZxMQlsfIusFRznXeXqf_q9TkVTDAhwp-XWmQ-AbPM/edit" title="[%=Variables.Tooltip Doc%]" alt="[%=Variables.Tooltip Doc%]" target="_blank">Minor Upgrade Approval Form</a>.</p>
        <h2>Release Maintenance</h2>
        <p>Release Maintenance, also known as Releases, consists of updates to specific products. </p>
        <h3>Major Release</h3>
        <p>New functionality and features for each product are rolled out three times each year:</p>
        <ul>
            <li>Winter Release - During the first quarter of the calendar year.</li>
            <li>Spring Release - During the second quarter of the calendar year.</li>
            <li>Fall Release - At the beginning of the fourth quarter of the calendar year.</li>
        </ul>
        <p>There are two important milestones in preparation of Major Release Maintenance, the first of which is a Feature Complete date. This is a one month notice period for all communications concerning the release. Examples of these communication vehicles are Public Facing Release Notes and internal notifications to users of the product(s). </p>
        <p>The second important date that occurs two weeks prior to the launch date is Code Freeze. This is where the development of features and functionality ceases and Quality Assurance testing is finishing up on last minute changes.</p>
        <h3>Patch Release</h3>
        <p>In between Major Releases, any problems that arise and need to be resolved before the next Major Release, are implemented as needed each Thursday. However, some development teams choose to schedule Patch Releases on a monthly basis. This is due to the complexities of the program, which often require extensive research and testing.</p>
        <h3><a name="Emergenc"></a>Emergency Release</h3>
        <p>In the event of an urgent need to implement code, an Emergency Release can be performed under the guidelines set forth in the <a href="https://docs.google.com/document/d/1EP4uC5k3vl9V3f5asmxqvCuYiLRwKB_dS-covtbBLvE/edit" target="_blank" title="[%=Variables.Tooltip Doc%]" alt="[%=Variables.Tooltip Doc%]">Emergency Approval Form</a> and is subject to an executive approval process.</p>
        <p>Release Communication Policy:  <a href="https://docs.google.com/document/d/1acaD43uYiSi3mFC4L0qSskFmVHcg16lZEeup3iwUpdw/edit?ts=5762d86f" target="_blank" title="[%=Variables.Tooltip Doc%]" alt="[%=Variables.Tooltip Doc%]">Details</a></p>
    </body>
</html>