<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" style="mc-master-page: url('Resources\MasterPages\Home.flmsp');" MadCap:lastBlockDepth="6" MadCap:lastHeight="370" MadCap:lastWidth="865">
    <head>
        <link href="Resources/TableStyles/home.css" rel="stylesheet" MadCap:stylesheetType="table" /><title>Home</title>
        <link href="Resources/Carousel/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <table style="width: 100%;margin-left: 0;margin-right: auto;mc-table-style: url('Resources/TableStyles/home.css');" class="TableStyle-vid" cellspacing="30">
            <col class="TableStyle-vid-Column-Column1" />
            <col class="TableStyle-vid-Column-Column2" />
            <col class="TableStyle-vid-Column-Column3" />
            <tbody>
                <tr class="TableStyle-vid-Body-Body1">
                    <td class="TableStyle-vid-BodyE-Column1-Body1"><a href="blank.htm"><img src="Resources/Images/WhatsNewTile.png" title="[%=Tooltips.Tooltip Topic%]" alt="What's New Tile" class="tiles" /></a>
                        <p>Release Information</p>
                    </td>
                    <td class="TableStyle-vid-BodyE-Column2-Body1">
                        <img src="Resources/Images/cxSuiteTile.png" title="[%=Tooltips.Tooltip Topic%]" alt="CX Suite Tile" class="tiles" />
                        <p>Product Information</p>
                    </td>
                    <td class="TableStyle-vid-BodyD-Column3-Body1">
                        <img src="Resources/Images/cxMeasurementTile.png" title="[%=Tooltips.Tooltip Topic%]" alt="CX Measurement Tile" class="tiles" />
                        <p>Measures Catalog</p>
                    </td>
                </tr>
                <tr class="TableStyle-vid-Body-Body1">
                    <td class="TableStyle-vid-BodyA-Column1-Body1" colspan="3"><span class="Group-3">Can't find what you're looking for?  <button type="button" class="contact" onclick="window.open('http://www.foresee.com/about-us/contact-us/')">Contact Us</button></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>